<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @buisness_unit.title %>
</p>

<%= link_to 'Edit', edit_buisness_unit_path(@buisness_unit) %> |
<%= link_to 'Back', buisness_units_path %>
