<div>
  <h5>Table Of Content</h5>
  <ul>
    <li><%= link_to 'Business Units', buisness_units_path %></li>
    <li><%= link_to 'Employees', employees_path %></li>
    <li><%= link_to 'Search', search_skills_path %></li>
  </ul>
</div>
